body{
    /* background-color:rgb(250, 244, 236); */
   padding:0;
   margin:0;
   font-family:"Montserrat", sans-serif;
   position:fixed;
   right:0;
   left:0;
   bottom:0;
   top:0;
}

/* text color changing. ------------------------------------------------------------------------------------------*/
h1, .aside, .nav{
    color:rgb(37, 105, 147);
    /* font-family:"Montserrat", sans-serif; */
    font-weight:bold;
}


/* sidebar ------------------------------------------------------------------------------------------*/
.header2{
    text-align:center;
    margin-top:0;
}

.aside{
    background-color: rgb(250, 244, 236);
    height:15vh;
}


/* main content ------------------------------------------------------------------------------------------ */
header{
    text-align:center;
    /* height:16vh; */
}

.nav{
    display:flex;
    justify-content:flex-end;
    gap:10px;
    margin:15px;
    height:2vh;
}

.main{
    background-color: rgb(243, 233, 222);
    display:flex;
    flex-direction: column;
}

.text{
    /* background-color:blue; */
    text-align:center;
    height:50vh;
}

.textbox{
    width:  calc(80vw - 20px);
    height: calc(25vh - 20px);
}

footer{
    /* background-color:red; */
    text-align:center;
    height:19vh;
}

/* BUTTONS ----------------------------------------------------------------------------------------------------*/

.buttons{
    display:flex;
    justify-content:space-between;
    /* margin:15px; */
}

.buttons2{
    display:flex;
    justify-content:flex-end;
}

button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    color:white;
    text-align: center;
    border-radius: 10px;
    margin:15px;
}

.nbut{
    background-color:rgb(55, 95, 104);
    /* justify-self: start; */
}

.dbut{
    background-color:rgb(86, 83, 106);
    /* justify-self: end; */
}

.sbut{
    background-color:rgb(55, 95, 104);
    margin:15px 7.5px;
}

.cbut{
    background-color:rgb(155, 51, 44) ;
    margin:15px 7.5px;
}


/* DARK/LIGHT THEME TOGGLES ----------------------------------------------------------------------------------------------------*/

.lmain{
    background-color:rgb(82, 82, 82);
    color:white;
}

.laside{
    background-color:rgb(112, 112, 112);
    color:white;
}


/* responsive design section ----------------------------------------------------------------------------------------------------*/
@media (min-width:600px){

    body{
        display: grid;
        grid-template-columns: 20% auto;
    }

    .aside{
        height:100vh;
    }
    
    header{
        height:10vh;
    }
    
    .text{
        /* background-color:blue; */
        height:65vh;
        /* display:grid;  */

    }

}
